:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: vazir;
}

a {
  color: inherit;
  text-decoration: none;
}

.h-screen {
  height: 100vh;
}

.text-dark-green {
  color: #047c04;
}

.height-300 {
  height: 300px;
}

.object-cover {
  object-fit: cover;
}

.small-banner {
  width: 100%;
  height: 180px;
  position: relative;
  border-radius: 15px;
}

.small-banner img {
  border-radius: 15px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-slider {
  width: 120px;
  height: 120px;
  object-fit: cover;
  padding: .3rem;
  border: 1px solid rgb(90, 189, 255);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.img-slider:hover {
  border-width: 3px;
}

@media screen and (max-width: 768px) {
  .img-slider {
    width: 100px;
    height: 100px;
  }

  .banner-section {
    height: 220px;
  }

}

@media screen and (max-width: 480px) {
  .img-slider {
    width: 80px;
    height: 80px;
  }

  .banner-section {
    height: 120px;
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}